* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h2 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 30px;
}

p {
  font-family: "Lato Light";
  color: #767e9e;
  font-size: 18px;
}

h3 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 18px;
  white-space: nowrap;
}

.wrap {
  width: 1020px;
  margin: 0 auto;
}

.headerText {
  padding-bottom: 21px;
  padding-top: 62px;
}
.headerText p {
  margin-bottom: 15px;
}
.headerText h2 {
  padding-bottom: 23px;
}

.btn {
  font-family: "Lato Light";
  color: #767e9e;
  font-size: 12px;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 6.3px;
  margin-right: 7px;
  transition: 0.3s;
}

.btn:hover {
  color: white;
}

.headerWrap {
  background-color: #2d303a;
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 47px;
}

.images img:nth-child(n + 13) {
  display: none;
}
.images img {
  margin-bottom: 20px;
}

.strip {
  background-color: #323746;
  height: 6px;
}

.headerConteiner {
  width: 940px;
}
.aboutConteiner {
  width: 940px;
}
.aboutUs {
  background-color: #f2f2f2;
  padding-top: 58px;
  display: flex;
  justify-content: center;
}
.imgAboutUs {
  display: flex;
  word-wrap: none;
}
.imgAboutUs p {
  font-family: "Lato Regular";
  font-size: 12px;
  margin-top: 11px;
  padding-bottom: 28px;
}
.imgAboutUs img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.textAboutUs p {
  margin-top: 25px;
  margin-bottom: 49px;
}

.social img {
  margin-right: 5px;
  transition: 0.3s;
}
.social img:hover {
  transform: scale(1.2);
}

.whiteStrip {
  height: 6px;
  background-color: white;
}
