* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.wrap {
  margin: 0 auto;
  width: 1020px;
}
.headerBg {
  background-color: #2d303a;
  position: fixed;
  width: 1020px;
  z-index: 999999;
}
.content {
  width: 940px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  /* margin-left: 40px; */

  align-items: center;
  /* height: 89px; */
  color: #414556;
  padding: 40px 0 31px;
}

.logo h1 {
  color: #ffffff;
  font-family: "Lato Bold";
  font-size: 25px;
  line-height: 6.32px;
}
.logo {
  margin-bottom: 9px;
}
header a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Lato Bold";
  font-size: 12px;
  line-height: 6.32px;
}

.polosa {
  height: 6px;
  background-color: #323746;
}

.point {
  padding: 7.5px;
}
.star {
  color: red;
}

nav a:hover {
  color: #f06c64;
}

.active:active {
  color: #f06c64;
}

.active {
  color: #f06c64;
}

.mainSlider {
  display: flex;
  overflow: hidden;
}
.sliderBg {
  padding-top: 96px;
  background-color: #f06c64;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 51px 0 60px;
}
.sliderContent {
  width: 1020px;
  margin: 0 auto;
  /* padding-left: 80px; */
}

.sliderBg2 {
  padding-top: 96px;
  background-color: #648bf0;
}
.chev1 {
  right: 55px;
  position: relative;
  z-index: 999;
}
.chev2 {
  left: 55px;
  position: relative;
  z-index: 999;
}
.chev1:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}
.chev2:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}

.slider2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 51px 0 60px;
}
.slider2Content {
  width: 1020px;
  margin: 0 auto;
}

.sliderAnim {
  transform: translateX(-1020px);
  transition: 1.5s;
}
.sliderAnim2 {
  transform: translateX(-2040px);
  transition: 1.5s;
}
.sliderAnim3 {
  transform: translateX(1020px);
  transition: 1.5s;
}

.verMob {
  margin-right: 60px;
}

.diaMob {
  margin-left: 10px;
}
.polosa2 {
  height: 6px;
  background-color: #ea676b;
}

.servicesBg {
  padding-top: 60px;
  background-color: #f2f2f2;
}

.servicesContent {
  width: 940px;
  margin: 0 auto;
}

.services {
  padding-bottom: 44px;
}
.services h1 {
  color: #666d89;
  font-family: "Lato Black";
  font-size: 30px;
}

.services p {
  color: #767e9e;
  font-family: "Lato Light";
  font-size: 18px;
  margin-top: 15px;
  line-height: 30px;

  text-align: justify;
}

.first {
  display: flex;
}

.second {
  margin-top: 30px;
  display: flex;
  padding-bottom: 60px;
}

.icons h2 {
  color: #666d89;
  font-family: "Lato Black";
  font-size: 18px;
}

.icons p {
  color: #767e9e;
  font-family: "Lato Regular";
  font-size: 12px;
  line-height: 21.56px;
  margin-top: 8px;
  text-align: justify;
  overflow-y: hidden;
  /* width: 225px; */
  height: 65px;
}

.iconText {
  width: 220px;

  margin-left: 22px;
}
.iconText1 {
  width: 220px;

  margin-left: 20px;
}

.icon {
  margin-left: 20px;
  margin-top: 5px;
}

.icon1 {
  margin-top: 5px;
}
.icon3 {
  margin-left: 20px;
  margin-top: 5px;
}

.polosa3 {
  height: 6px;
  background-color: #ffffff;
}

/* */

.imgAboutUs h3 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 18px;
  white-space: nowrap;
  overflow-x: hidden;

  width: 300px;
}

.textAboutUs h2 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 30px;
}

.headerTexts {
  padding-bottom: 21px;
  padding-top: 59px;
}
.headerTexts p {
  margin-bottom: 15px;
  font-family: "Lato Light";
  color: #767e9e;
  font-size: 18px;
}
.headerTexts h2 {
  padding-bottom: 22px;
  font-family: "Lato Black";
  color: #666d89;
  font-size: 30px;
}

.butn {
  font-family: "Lato Light";
  text-decoration: none;
  color: #767e9e;
  font-size: 12px;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 6.3px;
  margin-right: 7px;
  transition: 0.3s;
}

.butn:hover {
  color: white;
}
.activeBtn {
  color: white;
}

.headerWrap {
  background-color: #2d303a;
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 47px;
}

.images img:nth-child(n + 13) {
  display: none;
}
.images img {
  margin-bottom: 20px;
}

.strip {
  background-color: #323746;
  height: 6px;
}

.headerConteiner {
  width: 940px;
}
.aboutConteiner {
  width: 940px;
}
.aboutUs {
  background-color: #f2f2f2;
  padding-top: 58px;
  display: flex;
  justify-content: center;
}
.imgAboutUs {
  display: flex;
  word-wrap: none;
}
.imgAboutUs p {
  font-family: "Lato Regular";
  font-size: 12px;
  margin-top: 8px;
  padding-bottom: 23px;
  color: #767e9e;
  line-height: 21.56px;
  text-align: justify;
  width: 300px;
}
.imgAboutUs img {
  margin-right: 20px;
  margin-bottom: 11px;
}

.textAboutUs p {
  margin-top: 18px;
  margin-bottom: 45px;
  font-family: "Lato Light";
  color: #767e9e;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

.social img {
  margin-right: 4px;
  transition: 0.3s;
  /* padding-bottom: 43px; */
  padding-bottom: 52px;
}
.social img:hover {
  transform: scale(1.2);
}

.whiteStrip {
  height: 6px;
  background-color: white;
}

/* */

.headerText h2 {
  font-family: "Lato Black";
  color: #f0d8d9;
  font-size: 30px;
  padding-bottom: 19px;
}

.formText h3 {
  font-family: "Lato Black";
  color: #f0d8d9;
  font-size: 18px;
  margin-bottom: 6px;
}

.wrapContent {
  width: 940px;
}
.bgColor {
  background-color: #f16c64;

  display: flex;
  justify-content: center;
  padding-top: 60px;

  /* padding-bottom: 20px; */
}

.headerText {
  padding-bottom: 42px;
}

.headerText p {
  line-height: 30px;
  font-family: "Lato Light";
  letter-spacing: 1px;
  color: #f0d8d9;
  text-align: justify;
}

.formContent {
  display: flex;
  padding-bottom: 3px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formText {
  margin-left: 22px;
}

.formText p {
  font-size: 12px;
  line-height: 21.56px;
  font-family: "Lato Regular";
  color: #f0d8d9;
  text-align: justify;
}

::placeholder {
  color: #f48c8f;
  font-family: "Lato Regular";
  font-size: 12px;
  /* line-height: 21.56px; */
}

input {
  margin-bottom: 17px;
  width: 603px;
  height: 38px;
  background-color: #d7554e;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  color: #99312c;
}

textarea {
  background-color: #d7554e;
  border: none;
  border-radius: 5px;
  height: 180px;
  padding: 9px 14px;
}

.contacts {
  margin-top: 22px;
}
.contacts a {
  text-decoration: none;
  color: #f0d8d9;
}

.locationimg {
  margin-left: 2px;
  padding-right: 11px;
}
.phoneImg {
  padding-right: 10px;
}
.mailImg {
  padding-right: 8px;
}

.foot {
  background-color: #292d37;
}

footer {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 42px;
  height: 76px;
}

footer p {
  font-family: "Lato Light";
  color: #767e9e;
  font-size: 12px;
}

.imgas img {
  margin-top: 5px;
  margin-left: 5px;
  transition: 0.3s;
}

.imgas img:hover {
  transform: scale(1.2);
}

.btn {
  width: 100px;
  margin-top: 12px;
  background: #d43f37;
  font-family: "Lato Bold";
  font-size: 14px;
  font-weight: 500;
  color: #f0d8d9;
  border: none;
  padding-left: 0;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e03830;
  transition: 0.5s;
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  padding-top: 300px;;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #f2f2f2;
  margin: 0 auto;
  
  padding: 20px;
  width: 40%;
  overflow: hidden;
  border: 4px solid #8e91a0e1;
  border-radius: 10px;
}

.ok {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #d43f37;
  padding: 8px 16px;
  font-size: 14px;
  margin-top: 10px;
}

.ok:hover {
  transition: 0.5s;
  transform: scale(1.1);
  text-decoration: none;
  cursor: pointer;
}
